# SzCore Framework 1.4.0-rc1
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
sv_licenseKey "CHANGE_ME"
sv_hostname "SzCore Framework"
sets sv_projectName "SzCore Framework"
sets sv_projectDesc "SzCode modular FiveM framework"
sets locale "hu-HU"
set mysql_connection_string "mysql://szcore:password@127.0.0.1/szcore?charset=utf8mb4"
set onesync on
set szcore_queue_enabled 1
set szcore_reserved_slots 0
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure baseevents
ensure oxmysql
ensure szcore
ensure szcore_world
ensure szcore_queue
ensure szcore_ui
ensure szcore_interact
ensure szcore_multichar
ensure szcore_spawn
ensure szcore_inventory
ensure szcore_society
ensure szcore_banking
ensure szcore_billing
ensure szcore_vehicles
ensure szcore_vehiclekeys
ensure szcore_garage
ensure szcore_vehiclefailure
ensure szcore_smallresources
ensure szcore_paycheck
ensure szcore_status
ensure szcore_death
ensure szcore_appearance
ensure szcore_admin
ensure szcore_benchmark
add_ace group.admin command allow
add_ace group.admin szcore.admin allow
add_ace group.admin szcore.admin.job allow
add_ace group.admin szcore.admin.money allow
add_ace group.admin szcore.admin.view allow
add_ace group.admin szcore.admin.kick allow
add_ace group.admin szcore.admin.ban allow
add_ace group.admin szcore.admin.item allow
add_ace group.admin szcore.admin.revive allow
add_ace group.admin szcore.billing.cancel allow
add_ace group.admin szcore.benchmark allow
